<!DOCTYPE html>
<html>

<head>
    <title>Cryptocurrency</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://kit.fontawesome.com/8b134085b2.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400&display=swap"
        rel="stylesheet">
</head>

<body>
    <header class="head">
        <div class="header">
            <h1 class="font"><i class="fa-brands fa-slack" style="color: #3067f0;"></i></h1>
            <h1 class="waz">WazirX</h1>
        </div>
        <nav>
            <a href="#">Buy Crypto</a>
            <a href="#">Exchange</a>
            <a href="#">P2P</a>
            <a href="#">Learn</a>
            <a href="#">News</a>
        </nav>
        <div class="lastheader">
            <h2 class="font1"><i class="fa-solid fa-globe" style="color: beige;"></i></h2>
            <h2 class="eng">English</h2>

        </div>
    </header>
    <div class="bgvdo">
        <video autoplay loop muted plays-inline>
            <source src="../static/videos/y2mate.com - stock market animation_720p.MP4" type="video/MP4">
        </video>
    </div>

    <div class="bgtext">
        <h1 class="content">WAZIRX IS INDIA'S MOST </h1>
        <h1 class="content1">TRUSTED BITCOIN &</h1>
        <h1 class="spl">CRYPTOCURRENCY EXCHANGE </h1>
        <h3 class="buy">Buy, Sell & Trade Bitcoin, Ethereum, Ripple, Litecoin and more cryptocurrencies in India.</h3>
        <h2 class="start"> Start trading now!</h2>
    </div>

    <div class="button">

        <a href="{{url_for('coins')}}" class="btn"><button class="btn1"><b>START</b></button></a>

    </div>
</body>

</html>